@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(//fonts.googleapis.com/css?family=PT+Mono);

html,
body {
    height: 100%;
    font-family: 'PT Mono', monospace;
    color: white;
}

a {
  color: #3498DB;
}

a:hover {
  color: #2974A5;
  transition: color 0.5s;
}

.container {
  margin-top: 4em;
  padding-bottom: 4em;
}

.brand-logo {
  margin-left: 0.5em;
}

.clemson-orange {
  background-color: #F56600 !important;
}

.clemson-purple {
  background-color: #522D80 !important;
}

.info {
  color: #ADADAD;
}

.center {
  text-align: center;
}

.clemson-orange-text {
  color: #FF7310 !important;
}

.clemson-purple-text {
  color: #522D80 !important;
}

.twitter {
  background-color: #0084b4 !important;
}

.github {
  background-color: #333 !important;
}

.sidenav {
  background-color: black;
  overflow: hidden;
}

.sidenav li a {
  background-color: black;
  color: white;
  font-size: 18px;
}

.hover {
  color: white;
}

.hover a:hover {
  color: #F56600;
}

img.logo {
  height: 20em;
  display: block;
  margin: 0 auto;
  margin-top: 4em;
}

strong {
  color: #FF7310;
  font-weight: 900;
}

p.json {
  font-size: 24px;
}

@media only screen and (min-width: 1200px) {
  .softbreak {
    display: none;
  }
}

/* Animations */

#home {
  min-height: calc(100vh - 56px);
  overflow: hidden;
}

@media only screen and (min-width: 601px) {
  #home {
    min-height: calc(100vh - 64px);
    overflow: hidden;
  }
}

/* About Page */

#about blockquote {
  border-left: 5px solid #FF7310
}

#about iframe {
  border: none;
}

#about img.footer-img {
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

/* Sponsor page */

.update {
  font-size: 24px;
}

#sponsor .card-image {
  height: 20em;

  display: flex;

  align-items: center;
}

#sponsor .l12 .card-image {
  height: 30em;
}

#sponsor .card-image img {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  max-height: 100%;

  width: auto;
}

@media only screen and (min-width: 992px) {
  #sponsor .card-content {
    height: 20em;
  }

  #sponsor .l12 .card-content {
    height: 15em;
  }
}

@media only screen and (max-width: 600px) {
  #sponsor .l12 .card-image {
    height: 20em;
  }
}

/* CTF 2019 page */

#past img {
  width: 100%;
}

#past h3, h4, h5 {
  text-align: center;
}

#past #sponsors .col img {
  max-width: 400px;
}

@media only screen and (min-width: 1200px) {
  #winners .card-content {
    height: 12em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #winners .card-content {
    height: 9em;
  }
}

#prev-sponsor .card-image {
  height: 20em;

  display: flex;

  align-items: center;
}

#prev-sponsor .l12 .card-image {
  height: 30em;
}

#prev-sponsor .card-image img {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  max-height: 100%;

  width: auto;
}

@media only screen and (min-width: 992px) {
  #prev-sponsor .card-content {
    height: 5em;
  }

  #prev-sponsor .l12 .card-content {
    height: 5em;
  }
}

@media only screen and (max-width: 600px) {
  #prev-sponsor .l12 .card-image {
    height: 20em;
  }
}

/* Sponsor colors */

#paloalto > div.card-content > span.card-title a {
  color: #fa582d !important;
}

#vector35 > div.card-content > span.card-title a {
  color: #00a82c !important;
}

#runcode > div.card-content > span.card-title a {
  color: #dc3545 !important;
}

#runcode > div.card-image {
  background-color: #333 !important;
}

#crowdstrike > div.card-content > span.card-title a {
  color: #ec3424 !important;
}

#ally > div.card-content > span.card-title a {
  color: #73406E !important;
}

#secureworks > div.card-content > span.card-title a {
  color: #f4423a !important;
}

#specterops > div.card-content > span.card-title a {
  color: #04b367 !important;
}

#specterops > div.card-image {
  background-color: #14142c !important;
}

/* Team Page */

#team .card-title {
  text-shadow: 2px 2px 0px #000000 !important;
}

@media only screen and (min-width: 1200px) {
  #team .card-content {
    height: 18em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #team .card-content {
    height: 15em;
  }
}

/* Register Page */

#register iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1400px;
  width: 100%;
  border: none;
}

.scoreboard {
  max-width: 60%;
  max-height: 60%;
}

.scoreboard-graph {
  max-width: 80%;
  max-height: 80%;
}

.dropdown {
    list-style-type: none; 
    padding: 0;  
    overflow: hidden;
}
.dropdown > li {
    float: left;
}
.dropdown li ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
.dropdown li:hover ul {
    display: block;
}
.dropdown li a {
    display: block; 
    text-decoration: none; 
    text-align: center; 
    color: white;  
    background-color: black;  
}

.dropdown li a:hover {
    background-color: black; 
    color: #F56600;
}
