@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(//fonts.googleapis.com/css?family=PT+Mono);

html,
body {
    height: 100%;
    font-family: 'PT Mono', monospace;
    color: white;
}

.container {
  margin-top: 4em;
  padding-bottom: 4em;
}

.brand-logo {
  margin-left: 0.5em;
}

.clemson-orange {
  background-color: #F56600 !important;
}

.clemson-purple {
  background-color: #522D80 !important;
}

.info {
  color: #ADADAD;
}

.center {
  text-align: center;
}

.clemson-orange-text {
  color: #FF7310 !important;
}

.clemson-purple-text {
  color: #522D80 !important;
}

.twitter {
  background-color: #0084b4 !important;
}

.github {
  background-color: #333 !important;
}

.sidenav {
  background-color: black;
}

.sidenav li a {
  background-color: black;
  color: white;
  font-size: 18px;
}

.hover {
  color: white;
}

.hover a:hover {
  color: #F56600;
}

img.logo {
  height: 20em;
  display: block;
  margin: 0 auto;
  margin-top: 4em;
}

strong {
  color: #FF7310;
  font-weight: 900;
}

p.json {
  font-size: 24px;
}

#register iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1400px;
  width: 100%;
  border: none;
}

/* About Page */

#about blockquote {
  border-left: 5px solid #FF7310
}

#about iframe {
  border: none;
}

#about img.footer-img {
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

/* Sponsor page */

.update {
  font-size: 24px;
}

/* CTF 2019 page */

#past img {
  width: 100%;
}

#past h3, h4, h5 {
  text-align: center;
}

#past #sponsors .col img {
  max-width: 400px;
}

@media only screen and (min-width: 1200px) {
  #winners .card-content {
    height: 12em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #winners .card-content {
    height: 9em;
  }
}

/* Team Page */

#team .card-title {
  text-shadow: 2px 2px 0px #000000 !important;
}

@media only screen and (min-width: 1200px) {
  #team .card-content {
    height: 18em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #team .card-content {
    height: 15em;
  }
}
