<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo"><strong>CUCTF</strong> / {{ page.title }}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/faqs">FAQs</a></li>
        <li><a href="/cuctf_2019">CUCTF 2019</a></li>
        <li><a href="/team">Our Team</a></li>
        <li><a class="clemson-orange white-text" href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/about">About</a></li>
  <li><a href="/sponsors">Sponsors</a></li>
  <li><a href="/faqs">FAQs</a></li>
  <li><a href="/cuctf_2019">CUCTF 2019</a></li>
  <li><a href="/team">Our Team</a></li>
  <li><a href="/register">Register</a></li>
</ul>
