<!DOCTYPE html>
<html lang="en">

<head> 
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="public/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="public/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/custom.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
	<title>CUCTF/{{ page.title }}</title>
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=0.9">
</head>

<body class="grey darken-4">
	{% include navigation.html %}
	{{ content }}


	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="public/js/materialize.min.js"></script>
	<script src="public/js/init.js"></script>
</body>

</html>
