<!DOCTYPE html>
<html lang="en">
    <head> 
	    <meta charset="UTF-8">
	    <link rel="icon" type="image/svg-xml" href="images/shieldNoText.svg">
	    <title>CUCTF</title>
	    <link rel="shortcut icon" href="images/shieldNoText.svg">
	    <meta name="description" content="{{ page.description }}">
	    <meta name="keywords" content="{{ page.keywords }}">
	    <meta name="author" content="{{ page.author }}">

	    <!-- Mobile Specific Metas
	    ================================================== -->
	    <meta name="format-detection" content="telephone=no">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS design scripts -->
	    <link rel="stylesheet" href="styles/./material.min.css">
	    <script src="styles/./material.min.js"></script>
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">	
        <link rel="stylesheet" href="styles/customizations.css">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-800">
	        {% include navigation.html %}
    	    <main class="container">
    	        {{ content }}
    	    </main>
        </div>
    </body>
</html>
