<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <title>CUCTF</title>
    <link rel="shortcut icon" href="/images/cuctf-small.png">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="{{ page.author }}">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/sticky-footer.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
  </head>
  <body>
    {% include navigation.html %}
    <main role="main" class="container">
        <!-- <h1>Coming Soon</h1> -->
        {{ content }}
    </main>

    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">Copyright: <span>2019</span> CU Cyber &lt;cyber@clemson.edu&gt;</span>
        </div>
    </footer>
    
    

  </body>

</html>
