/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: #424242;
}

head {
  background-color: #313131;
  color: #FFFFFF;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

nav {
    background-color: #424242;
    color: #FFFFFF;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* Custom Blockquote */

blockquote {
  background: #313131;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  background-color: #313131;
}

/* Header spacing */
section {
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #424242;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
